<div class="sidebar" style="    background: #121218;
    ">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a routerLink="/admin" class="simple-text logo-normal">Espace Admin:
            Gestion<br> des articles
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a routerLink="/admin">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Tableau de bord</p>
            </a>
          </li>
          <li>
  
          <li class="active ">
            <a routerLink="/admin/create">
              <i class="material-icons">add</i>
              <p>Articles</p>
            </a>
          </li>
  
          <li class="active ">
            <a routerLink="/admin/contact">
              <i class="material-icons">add</i>
              <p>Messages</p>
            </a>
          </li>
        </ul>
      </div>
    </div>